In [2]:
import pandas as pd

In [3]:
all_2022 = pd.read_csv('./all_mortgage_data/nation_all_2022.csv', dtype={
    'county_code': str,
    'census_tract': str
})

/var/folders/br/8x3cfw457y1gzxfpj7108n100000gn/T/ipykernel_17360/839783980.py:1: DtypeWarning: Columns (22,23,24,26,27,28,29,30,31,32,33,38,43,44,46,78,80) have mixed types. Specify dtype option on import or set low_memory=False.
  all_2022 = pd.read_csv('./all_mortgage_data/nation_all_2022.csv', dtype={

In [4]:
# filter to reverse mortgage
all_rm_2022 = all_2022[(all_2022['reverse_mortgage'] == 1)]

In [5]:
all_rm_2022.sample()

,activity_year,lei,derived_msa-md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
8223448,2022,549300TINI6CL78UD591,34980,TN,47165,47165021106,C,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,...,NaN,NaN,NaN,4040,26.01,95600,90,864,1319,41

In [6]:
all_rm_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59253 entries, 199060 to 8239344
Data columns (total 99 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   activity_year                             59253 non-null  int64
 1   lei                                       59253 non-null  object
 2   derived_msa-md                            59253 non-null  int64
 3   state_code                                59253 non-null  object
 4   county_code                               59253 non-null  object
 5   census_tract                              59246 non-null  object
 6   conforming_loan_limit                     59250 non-null  object
 7   derived_loan_product_type                 59253 non-null  object
 8   derived_dwelling_category                 59253 non-null  object
 9   derived_ethnicity                         59253 non-null  object
 10  derived_race                              59253 non-null  object
 11  derived_sex                               59253 non-null  object
 12  action_taken                              59253 non-null  int64
 13  purchaser_type                            59253 non-null  int64
 14  preapproval                               59253 non-null  int64
 15  loan_type                                 59253 non-null  int64
 16  loan_purpose                              59253 non-null  int64
 17  lien_status                               59253 non-null  int64
 18  reverse_mortgage                          59253 non-null  int64
 19  open-end_line_of_credit                   59253 non-null  int64
 20  business_or_commercial_purpose            59253 non-null  int64
 21  loan_amount                               59253 non-null  float64
 22  loan_to_value_ratio                       3893 non-null   object
 23  interest_rate                             59244 non-null  object
 24  rate_spread                               0 non-null      object
 25  hoepa_status                              59253 non-null  int64
 26  total_loan_costs                          0 non-null      object
 27  total_points_and_fees                     0 non-null      object
 28  origination_charges                       0 non-null      object
 29  discount_points                           0 non-null      object
 30  lender_credits                            0 non-null      object
 31  loan_term                                 0 non-null      object
 32  prepayment_penalty_term                   0 non-null      object
 33  intro_rate_period                         50648 non-null  object
 34  negative_amortization                     59253 non-null  int64
 35  interest_only_payment                     59253 non-null  int64
 36  balloon_payment                           59253 non-null  int64
 37  other_nonamortizing_features              59253 non-null  int64
 38  property_value                            59139 non-null  object
 39  construction_method                       59253 non-null  int64
 40  occupancy_type                            59253 non-null  int64
 41  manufactured_home_secured_property_type   59253 non-null  int64
 42  manufactured_home_land_property_interest  59253 non-null  int64
 43  total_units                               59253 non-null  object
 44  multifamily_affordable_units              0 non-null      object
 45  income                                    57837 non-null  float64
 46  debt_to_income_ratio                      2303 non-null   object
 47  applicant_credit_score_type               59253 non-null  int64
 48  co-applicant_credit_score_type            59253 non-null  int64
 49  applicant_ethnicity-1                     59251 non-null  float64
 50  applicant_ethnicity-2                     1289 non-null   float64
 51  applicant_ethnicity-3                     21 non-null     float64
 52  applicant_ethnicity-4                     1 non-null      float64
 53  applicant_ethnicity-5                     0 non-null      float64
 54  co-applicant_ethnicity-1                  59253 non-null  float64
 55  co-applicant_ethnicity-2                  560 non-null    float64
 56  co-applicant_ethnicity-3                  8 non-null      float64
 57  co-applicant_ethnicity-4                  0 non-null      float64
 58  co-applicant_ethnicity-5                  0 non-null      float64
 59  applicant_ethnicity_observed              59253 non-null  int64
 60  co-applicant_ethnicity_observed           59253 non-null  int64
 61  applicant_race-1                          59249 non-null  float64
 62  applicant_race-2                          829 non-null    float64
 63  applicant_race-3                          82 non-null     float64
 64  applicant_race-4                          13 non-null     float64
 65  applicant_race-5                          8 non-null      float64
 66  co-applicant_race-1                       59252 non-null  float64
 67  co-applicant_race-2                       369 non-null    float64
 68  co-applicant_race-3                       34 non-null     float64
 69  co-applicant_race-4                       4 non-null      float64
 70  co-applicant_race-5                       3 non-null      float64
 71  applicant_race_observed                   59253 non-null  int64
 72  co-applicant_race_observed                59253 non-null  int64
 73  applicant_sex                             59253 non-null  int64
 74  co-applicant_sex                          59253 non-null  int64
 75  applicant_sex_observed                    59253 non-null  int64
 76  co-applicant_sex_observed                 59253 non-null  int64
 77  applicant_age                             59253 non-null  object
 78  co-applicant_age                          59253 non-null  object
 79  applicant_age_above_62                    59100 non-null  object
 80  co-applicant_age_above_62                 24350 non-null  object
 81  submission_of_application                 59253 non-null  int64
 82  initially_payable_to_institution          59253 non-null  int64
 83  aus-1                                     59253 non-null  int64
 84  aus-2                                     0 non-null      float64
 85  aus-3                                     0 non-null      float64
 86  aus-4                                     0 non-null      float64
 87  aus-5                                     0 non-null      float64
 88  denial_reason-1                           59253 non-null  int64
 89  denial_reason-2                           0 non-null      float64
 90  denial_reason-3                           0 non-null      float64
 91  denial_reason-4                           0 non-null      float64
 92  tract_population                          59253 non-null  int64
 93  tract_minority_population_percent         59253 non-null  float64
 94  ffiec_msa_md_median_family_income         59253 non-null  int64
 95  tract_to_msa_income_percentage            59253 non-null  int64
 96  tract_owner_occupied_units                59253 non-null  int64
 97  tract_one_to_four_family_homes            59253 non-null  int64
 98  tract_median_age_of_housing_units         59253 non-null  int64
dtypes: float64(30), int64(40), object(29)
memory usage: 45.2+ MB

In [7]:
# groupby census tract

rm_2022_national = all_rm_2022.groupby(['census_tract']).count()

In [9]:
rm_2022_national = rm_2022_national.sort_values(by='lei', ascending=False)

In [10]:
rm_2022_national

,activity_year,lei,derived_msa-md,state_code,county_code,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,...,denial_reason-2,denial_reason-3,denial_reason-4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units
census_tract,,,,,,,,,,,,,,,,,,,,,
49053271600,120,120,120,120,120,120,120,120,120,120,...,0,0,0,120,120,120,120,120,120,120
49053270302,63,63,63,63,63,63,63,63,63,63,...,0,0,0,63,63,63,63,63,63,63
06065043812,46,46,46,46,46,46,46,46,46,46,...,0,0,0,46,46,46,46,46,46,46
04013040506,45,45,45,45,45,45,45,45,45,45,...,0,0,0,45,45,45,45,45,45,45
06059032037,39,39,39,39,39,39,39,39,39,39,...,0,0,0,39,39,39,39,39,39,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22033003201,1,1,1,1,1,1,1,1,1,1,...,0,0,0,1,1,1,1,1,1,1
22033003104,1,1,1,1,1,1,1,1,1,1,...,0,0,0,1,1,1,1,1,1,1
22025000300,1,1,1,1,1,1,1,1,1,1,...,0,0,0,1,1,1,1,1,1,1
22019003000,1,1,1,1,1,1,1,1,1,1,...,0,0,0,1,1,1,1,1,1,1
72127010044,1,1,1,1,1,1,1,1,1,1,...,0,0,0,1,1,1,1,1,1,1

In [11]:
rm_2022_tract_count = rm_2022_national[['lei']].reset_index()

In [12]:
rm_2022_tract_count

      census_tract  lei
0      49053271600  120
1      49053270302   63
2      06065043812   46
3      04013040506   45
4      06059032037   39
...            ...  ...
28133  22033003201    1
28134  22033003104    1
28135  22025000300    1
28136  22019003000    1
28137  72127010044    1

[28138 rows x 2 columns]

In [68]:
tract_population = all_rm_2022[['census_tract','tract_population', 'tract_minority_population_percent']]

In [69]:
tract_population

        census_tract  tract_population  tract_minority_population_percent
199060   06037403801              6346                              79.70
274200   12086010710              6741                              93.32
282247   45051060309              3055                              17.09
282248   06083002206              5358                              82.47
282249   26031960100              2890                               8.75
...              ...               ...                                ...
8236954  48121021505              6135                              45.62
8236955  24043011202              4658                              27.29
8236956  06029004903              4823                              97.70
8236958  06071008501              3945                              31.05
8239344  12011010103              3657                              18.35

[59253 rows x 3 columns]

In [74]:
rm_census_2022 = pd.merge(
    rm_2022_tract_count,
    tract_population,
    on='census_tract',
    how='left',
    validate='1:m'
)

rm_census_2022

,census_tract,lei_x,activity_year_x,lei_y,derived_msa-md_x,state_code_x,county_code_x,conforming_loan_limit_x,derived_loan_product_type_x,derived_dwelling_category_x,...,denial_reason-4_y,tract_population_y,tract_minority_population_percent_y,ffiec_msa_md_median_family_income_y,tract_to_msa_income_percentage_y,tract_owner_occupied_units_y,tract_one_to_four_family_homes_y,tract_median_age_of_housing_units_y,tract_population,tract_minority_population_percent
0,49053271600,120,120,120,120,120,120,120,120,120,...,0,120,120,120,120,120,120,120,7244,10.48
1,49053271600,120,120,120,120,120,120,120,120,120,...,0,120,120,120,120,120,120,120,7244,10.48
2,49053271600,120,120,120,120,120,120,120,120,120,...,0,120,120,120,120,120,120,120,7244,10.48
3,49053271600,120,120,120,120,120,120,120,120,120,...,0,120,120,120,120,120,120,120,7244,10.48
4,49053271600,120,120,120,120,120,120,120,120,120,...,0,120,120,120,120,120,120,120,7244,10.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59241,22033003201,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,3661,85.06
59242,22033003104,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,5465,95.35
59243,22025000300,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,2774,9.81
59244,22019003000,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,4793,25.45
59245,72127010044,1,1,1,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,4228,98.79

In [75]:
rm_census_2022 = rm_census_2022[['census_tract', 'lei_x', 'tract_population', 'tract_minority_population_percent']].copy()

In [76]:
rm_census_2022

      census_tract  lei_x  tract_population  tract_minority_population_percent
0      49053271600    120              7244                              10.48
1      49053271600    120              7244                              10.48
2      49053271600    120              7244                              10.48
3      49053271600    120              7244                              10.48
4      49053271600    120              7244                              10.48
...            ...    ...               ...                                ...
59241  22033003201      1              3661                              85.06
59242  22033003104      1              5465                              95.35
59243  22025000300      1              2774                               9.81
59244  22019003000      1              4793                              25.45
59245  72127010044      1              4228                              98.79

[59246 rows x 4 columns]

In [77]:
rm_census_2022['rm_per_1000'] = rm_census_2022['lei_x'] / rm_census_2022['tract_population'] * 1000
rm_census_2022

,census_tract,lei_x,tract_population,tract_minority_population_percent,rm_per_1000
0,49053271600,120,7244,10.48,16.565433
1,49053271600,120,7244,10.48,16.565433
2,49053271600,120,7244,10.48,16.565433
3,49053271600,120,7244,10.48,16.565433
4,49053271600,120,7244,10.48,16.565433
...,...,...,...,...,...
59241,22033003201,1,3661,85.06,0.273149
59242,22033003104,1,5465,95.35,0.182983
59243,22025000300,1,2774,9.81,0.360490
59244,22019003000,1,4793,25.45,0.208638
59245,72127010044,1,4228,98.79,0.236518

In [78]:
rm_census_2022 = rm_census_2022.drop_duplicates(subset='census_tract',keep='first', inplace=False).reset_index(drop=True)

In [79]:
rm_census_2022.head()

,census_tract,lei_x,tract_population,tract_minority_population_percent,rm_per_1000
0,49053271600,120,7244,10.48,16.565433
1,49053270302,63,3231,10.12,19.498607
2,06065043812,46,6969,23.07,6.600660
3,04013040506,45,5809,6.30,7.746600
4,06059032037,39,4939,22.35,7.896335

In [80]:
rm_census_2022.rename(columns={'lei_x': 'rm_no'}, inplace=True)

In [81]:
rm_census_2022 = rm_census_2022.sort_values(by='rm_per_1000', ascending=False).reset_index(drop=True)

In [82]:
rm_census_2022

,census_tract,rm_no,tract_population,tract_minority_population_percent,rm_per_1000
0,12071980000,1,0,0.00,inf
1,49053270302,63,3231,10.12,19.498607
2,49053271600,120,7244,10.48,16.565433
3,32003003214,14,1748,20.25,8.009153
4,06059032037,39,4939,22.35,7.896335
...,...,...,...,...,...
28133,48141010369,1,14413,88.05,0.069382
28134,51107611026,1,14425,63.79,0.069324
28135,12097042800,1,15058,76.14,0.066410
28136,48201543006,1,16766,67.77,0.059645
28137,48201543007,1,20530,58.19,0.048709